
#judul {
  font-weight: bold;
  font-size: 40px;
  font-family: cursive;
}

body{
  background-image: url("https://www.designyourway.net/blog/wp-content/uploads/2018/11/pastel-background-goo-700x394.jpg");
  background-size: cover;
}

#change{
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
}

.desc {
  font-size: 18px;
}

.button {
    font-size: 24px;
    border-color: black;
    background-color: salmon;
    border-radius: 10px;
    cursor: pointer;
  }

.button:hover {
    background-color: pink;
  }

.button:active {
    background-color: pink;
  }

/* Style the buttons that are used to open and close the accordion panel */
#accordion {
  background-color: pink;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
