{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>About Me</title>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'jsfile.js' %}"></script>
 
</head>
<body>

<div class="row">
  <div class="col" style="text-align: center;">
    <div class="row">
      <div id="judul"> <br> About Me </div>
    </div>
    <div class="row">
      <div class="desc"> Hilmi Arista </div>
      <div class="desc"> Information System 2018 </div>
    </div>
    <div class="row"> 
      <div id="change"> <br> Theme </div>
    </div>
    <div class="row">
      <div class="col">
        <button id="light-btn" class="button">Light Mode</button> 
        <button id="dark-btn" class="button">Dark Mode</button>
      </div>
    </div>
    <div class="row" style="padding-left: 15%; padding-right: 15%; padding-top: 2%; height: 100%;">
      <div id="accordion">
          <center id="aktivitas"> Activity </center>
          <div>
            <ul>
              <li>Saya sedang menjalani semester 3 di jurusan Sistem Informasi, Fakultas Ilmu Komputer, Universitas Indonesia </li>
              <li>Saya sedang menjadi Wakil Penanggung Jawab Divisi Mentor dan Peserta Bimbingan Belajar Gratis 2020 yang diadakan oleh BEM Pengabdian Masyarakat Fasilkom UI</li>
            </ul>
          </div>
          <center id="pengalaman">Experience</center>
          <div>
            <ul>
              <li>Di awal tahun 2019, saya merupakan bagian dari staf MenPes BETIS 2019</li>
              <li>Di pertengahan tahun 2019, saya menjadi staf dari Divisi Food and Beverages COMPFEST 2019</li>
            </ul>
          </div>
          <center id="prestasi">Achievement</center>
          <div>
            <ul>
              <li>Juara 3 lomba Bahasa Inggris se-Jakarta Selatan</li>
              <li>Juara 1 lomba Matematika se-Jakarta Selatan</li>
              <li>Tiduer 24 jam tanpa jeda</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>